body {
  background-image: url("../Images/dogs.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  width: 99%; 
  text-align: center;
}

p[id=thank] {
  color: #B0C0D0;
  font-size: 2em;
  font-weight: 800;
  font-family: sans-serif;	
  text-align: center;
  
}

button {
  display: inline-block;
  margin: 0.5em;
  background-color: #ff3300;
  border: hidden;
  border-radius: 4px;
  border-color: #dd3300;
  color: white;
  padding: 67px 65px;
  font-size: 16px;
  cursor: pointer;
}

button[id=homeb]:hover {
  background-color: #dd3300;
}

table {
  display: inline-block;
  margin: 1em;
  float: left;
  font-family: arial, sans-serif;
  border-collapse: collapse;  
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #B0C0D0;;
}

tr:nth-child(odd) {
  background-color: #C0D0E0;;
}

footer {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  margin-left: -1em;
  margin-top: 1.0em;
}

div[class=container] {
  display: inline-block;
  text-align: center;
}


